/* CSS styles Soil Test Map */
body {
  background: rgb(209, 239, 240);
  font-family: sans-serif;
}

header {
  padding: 8px 15px;
  background-color: #80a8c2;
  /* just to visually see now, change later */
}

h1 {
  font-size: 1.75em;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
}

form {
  width: 100%;
  height: 45px;
}

footer {
  text-align: left;
  padding: 20px;
  background-color: #80a8c2;
  color: black;
}

#map-01, #map-02, #map-03, #map-04 {
  height: 250px;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  grid-template-rows: 0.3fr 300px;
}

.map-1 {
  grid-area: 1 / 1 / 2 / 2;
}

.map-2 {
  grid-area: 1 / 2 / 2 / 3;
}

.map-3 {
  grid-area: 2 / 1 / 3 / 2;
}

.map-4 {
  grid-area: 2 / 2 / 3 / 3;
}

.label {
  position: relative;
  left: 20px;
}

.footer {
  background-color: lightblue;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.leaflet-control-zoom {
  display: none;
}

.legend {
  line-height: 16px;
  color: #555;
  padding: 6px;
}

.legend i {
  width: 16px;
  height: 16px;
  float: right;
  margin-left: 10px;
  opacity: 1;
}

.dropbtn {
  background-color: #599899;
  color: black;
  padding: 5px;
  font-size: 16px;
  border: 3px solid gray;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #1e6061;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  /* left: 65px; */
  float: right;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 6px 6px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content option:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* Leaflet css */
.leaflet-container {
  background: #9eb8af;
  outline: 0;
}
