/* CSS styles Soil Test Map */
body {
  background: #d1eff0;
  font-family: sans-serif;
}

header {
  padding: 8px 15px 18px;
  margin-bottom: 18px;
  background-color: #a5cdcf;
  /* just to visually see now, change later */
}

h1 {
  font-size: 1.75em;
  font-weight: 400;
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
}

form {
  width: 100%;
  height: 45px;
}

footer {
  text-align: left;
  padding: 20px;
  background-color: #a5cdcf;
  color: black;
  border: 2px solid #555;
  border-radius: 10px;
}

#map-01,
#map-02,
#map-03,
#map-04 {
  height: 250px;
  width: 80%;
  font-family: 'Times New Roman', Times, serif;
}

#info1 {
  right: 2px;
  width: 18%;
  height: 230px;
  padding: 6px 8px;
  font: 14px/18px Times, Times, serif;
  background: rgba(146, 230, 230, 0.8);
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
  border-radius: 5px;
  position: absolute;
}

#info3 {
  right: 2px;
  width: 18%;
  height: 230px;
  padding: 6px 8px;
  font: 14px/18px Times, Times, serif;
  background: rgba(146, 230, 230, 0.8);
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
  border-radius: 5px;
  position: absolute;
}

.label {
  position: relative;
  left: 20px;
}

.footer {
  background-color: lightblue;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.leaflet-control-zoom {
  display: none;
}

.legend {
  line-height: 16px;
  color: #5f5f5f;
  padding: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.legend i {
  width: 16px;
  height: 16px;
  float: right;
  margin-left: 10px;
  opacity: 1;
}

.dropbtn {
  background-color: #599899;
  color: black;
  padding: 5px;
  font-size: 16px;
  border: 3px solid gray;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #1e6061;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 6px 6px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content option:hover {
  background-color: #f1f1f1;
}

/* information box */
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* Leaflet css */
.leaflet-container {
  background: #5fb6ba;
}

input {
  margin: 0 0 18px;
}
