/* CSS styles Soil Test Map */

body {
  background: rgb(235, 235, 236);
  font-family: sans-serif;
}

header {
  padding: 8px 15px;
  background-color: Orange;
  /* just to visually see now, change later */
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
}

h2 {
  font-size: 1.3em;
  font-weight: normal;
}

#map-01, #map-02, #map-03, #map-04 {
  height: 300px;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  grid-template-rows: 0.3fr 300px;
}

.map-1 {
  grid-area: 1 / 1 / 2 / 2;
}

.map-2 {
  grid-area: 1 / 2 / 2 / 3;
}

.map-3 {
  grid-area: 2 / 1 / 3 / 2;
}

.map-4 {
  grid-area: 2 / 2 / 3 / 3;
}

.yellow {
  background: #fafbd1;
}

.blue {
  background: #e0ecf9;
}

.green {
  background: #d4edda;
}